body{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    
}

@font-face {
    font-family:'Source Sans Pro' ;
    src: url("..//headphones/source-sans-pro/SourceSansPro-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    
}
@font-face {
    font-family:'Spin Cycle' ;
    src: url("../headphones/Spin-Cycle-OT/spincycle_ot.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;

}

.home-section{
    background-image: url("..//headphones/images/headphones_hero_1.jpg") ;
    color: white;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding: 10px 5vw 20px 5vw;
   
    
    
    
    

}


nav{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    

    
}
.logo{
    height: 30px;
    display: block;
}

 

.nav-links{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 30px;
}
.nav-links a{
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.nav-links a:hover,
a:active
{
    color: #FF6565;
}


.hero{
    text-align: center;
    padding-top: 150px;
    padding-left: 20px;
    padding-right: 20px;
}
.hero h1{
    margin-top: 85px;
    margin-bottom: 0; 
}
.hero h2{
    margin-top: 0;
    margin-bottom: 30px; 
    font-size: 15px; 
}
.hero button{
    background-color:#FF6565 ;
    border-radius: 20px;
    color:white;
    padding: 12px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    margin-bottom: 60px;
}
.hero button:hover,
.hero button:active
{
    opacity: 0.9;  
}
.hero p{
    
    margin: 0 auto 35px auto;
    font-size: 15px;
    max-width: 700px;
}


@media screen and (max-width: 480px) {
    .nav-links {
        flex-direction: column;
        gap: 10px;
    }
    .hero {
    text-align: left;
    padding: 50px 20px;
    }

    .hero h1 {
    font-size: 24px;
    }
} 


.what-we-do{
    background-color: white ;
    color: black;
    padding: 80pw 5vw;
    text-align: center;


}
.section-title{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 32px;
    font-weight: bolder;
    margin-top: 80px;
}
.section-p{
    font-weight: normal;
    font-size: 15px;
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
}


.service-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
}
.service{
    flex: 1 ;
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 50px;

}
.holberton_school-icon-ic_sound,
.holberton_school-icon-ic_video,
.holberton_school-icon-ic_music,
.holberton_school-icon-ic_hearing {
    color: #FF6565;
    font-size: 100px;
    margin-bottom: 20px;
    display: inline-block;
}


