$icomoon-font-family: "holberton_school-icon" !default;
$icomoon-font-path: "fonts" !default;

$holberton_school-icon-arrow_1: unquote('"\\e900"');
$holberton_school-icon-arrow_2: unquote('"\\e901"');
$holberton_school-icon-arrow_3: unquote('"\\e902"');
$holberton_school-icon-arrow_4: unquote('"\\e903"');
$holberton_school-icon-arrow_5: unquote('"\\e904"');
$holberton_school-icon-check: unquote('"\\e905"');
$holberton_school-icon-ic_bag: unquote('"\\e906"');
$holberton_school-icon-ic_cart: unquote('"\\e907"');
$holberton_school-icon-ic_facebook: unquote('"\\e908"');
$holberton_school-icon-ic_hearing: unquote('"\\e909"');
$holberton_school-icon-ic_instagram: unquote('"\\e90a"');
$holberton_school-icon-ic_laptop: unquote('"\\e90b"');
$holberton_school-icon-ic_money: unquote('"\\e90c"');
$holberton_school-icon-ic_music: unquote('"\\e90d"');
$holberton_school-icon-ic_sound: unquote('"\\e90e"');
$holberton_school-icon-ic_twitter: unquote('"\\e90f"');
$holberton_school-icon-ic_video: unquote('"\\e910"');
$holberton_school-icon-menu: unquote('"\\e911"');
$holberton_school-icon-search_1: unquote('"\\e912"');
$holberton_school-icon-search_2: unquote('"\\e913"');
$holberton_school-icon-star: unquote('"\\e914"');

